.wrapper {
  margin-top: 50px;
}

.heading {
  text-align: center;
}

.form {
  width: 425px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #6c757d;
  border-radius: 4px;
}
