.contactList {
  list-style: none;
  padding-inline-start: 0;
}

.contactList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #1056c7;
}

.contactList__item:nth-child(2n) {
  background-color: #1056c7;
  color: white;
}

.contactList__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.contactList__name {
  font-size: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: italic;
  font-weight: 700;
}

.contactList__number {
  margin-right: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
}

.contactList__deleteBtn {
  background-color: white;
  border: 1px solid #1056c7;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
