.main_container {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.main_heading {
  font-size: 40px;
  color: #1056c7;
  text-align: center;
}

.contacts_heading {
  text-align: center;
  color: #1056c7;
  font-size: 36px;
}
